main>.max-width {
	display: flex;
	flex-direction: row-reverse;
	gap: 2.4rem;
	position: relative;
}

@media (max-width: 1024px) {
	main .max-width {
		flex-direction: column;
	}
}

.tab-buttons {
	margin-bottom: 20px;
	margin-left: 50%;
}

.tab-buttons a {
	padding: 10px 20px;
	background-color: #f3e6e7;
	text-decoration: none;
	color: black;
	margin-right: 10px;
}

.tab-buttons a.active {
	background-color: #aa4c4c;
	color: white;
}