{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static '/css/wrapbox.css' %}" />
<link rel="stylesheet" href="{% static '/css/view.css' %}" />
<link rel="stylesheet" href="{% static '/css/post.css' %}" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery를 먼저 로드 -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<!-- 그 다음 Bootstrap JavaScript를 로드 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}


{% block content %}



<div class="add">
	<div class="max-width">
		<section class="wrap-box post-add">
			<div class="container">
				<div class="row">
					<div class="">
						<h1>글 작성</h1>
						<form method="POST">
							{% csrf_token %}
							<div class="form-group">
								<label for="{{ form.postTitle.id_for_label }}">책제목<span class="require">*</span></label>
								{{ form.postTitle }}
							</div>
							<div class="form-group">
								<label for="{{ form.content.id_for_label }}">내용</label>
								{{ form.content }}
							</div>
							<div class="form-group">
								{{ form.category.errors }}
								<label>Category:</label>
								<div class="category-options">
									{% for radio in form.category %}
									<div class="form-check">
										{{ radio.tag }}
										<label class="form-check-label" for="{{ radio.id_for_label }}">
											{{ radio.choice_label }}
										</label>
									</div>
									{% endfor %}
								</div>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Create</button>
								<button type="submit" name="action" value="cancel"
									class="btn btn-default">Cancel</button>
							</div>
						</form>
					</div>
				</div>
				<a href="{% url 'main:main' %}" class="btn-back">
					<span class="a11y-hidden">Back</span>
				</a>
			</div>
		</section>
	</div>
</div>
{% endblock %}